{% extends "staff/_auth_card.html" %}

{% block title %}Staff login{% endblock %}
{% block card_title %}Login (Staff){% endblock %}

{% block card_content %}
<form method="post" class="vstack gap-3">
  {% csrf_token %}

    {% include "components/inputs/input.html" with field=form %}
    {% include "components/buttons/button.html" with label="Login" type="submit" variant="primary" block=True %}
</form>

<hr class="my-4">

<div class="text-center">
    {% url 'staff_register' as url_register %}
    {% include "components/links/link.html" with label="Registration" href=url_register color="secondary" %}

</div>
{% endblock %}
