{% extends "staff/_auth_card.html" %}

{% block title %}Staff register{% endblock %}
{% block card_title %}Регистрация (Staff){% endblock %}

{% block card_content %}

<form method="post" class="vstack gap-3">
  {% csrf_token %}
    {% include "components/inputs/input.html" with field=form %}
    {% include "components/buttons/button.html" with label="Create account" type="submit" variant="primary" block=True %}
</form>

<hr class="my-4">


<div class="text-center">
    {% url 'staff_login' as login_url %}

    {% include "components/links/link.html" with label="Login" href=login_url color="secondary" %}
</div>
{% endblock %}
