<footer class="border-top mt-auto">
  <div class="container py-3 d-flex justify-content-between align-items-center text-muted small">
    <span>© {{ site_name }} {% now "Y" %}</span>

    <nav class="d-flex gap-3">
        {% include "components/links/link.html" with label="Main" href="/" color="text-secondary" extra_classes="text-muted text-decoration-none" %}
        {% include "components/links/link.html" with label="About us" href="/about/" color="danger" extra_classes="text-muted text-decoration-none" %}
    </nav>
  </div>
</footer>
