<header class="border-bottom mb-3">
  <div class="container d-flex align-items-center justify-content-between py-2">

    <h1 class="h5 mb-0">{{ site_name }}</h1>

    <nav>
      <ul class="nav align-items-center gap-2">

        <li class="nav-item">
        {% include "components/links/link.html" with label="Main" href="/" color="text-secondary" extra_classes="text-muted text-decoration-none" %}
        </li>

        <li class="nav-item">
        {% include "components/links/link.html" with label="About us" href="/about/" color="danger" extra_classes="text-muted text-decoration-none" %}
        </li>

        {% if request.user.is_authenticated %}
          <li class="nav-item">
            <form method="post" action="{% url 'staff_logout' %}" class="d-inline">
              {% csrf_token %}
                {% include "components/buttons/button.html" with label="Logout" type="submit" variant="danger" block=True %}
            </form>
          </li>
        {% endif %}

      </ul>
    </nav>

  </div>
</header>
